# Requisitos do Projeto EcoDrive Insight AI

# Streamlit para a interface da aplicação
streamlit==1.24.0

# Bibliotecas para manipulação de dados
pandas==1.5.3
numpy==1.23.5  # Versão compatível com pandas 1.5.3

# Scikit-learn para modelagem e joblib para salvar modelos
scikit-learn==1.2.2
joblib==1.2.0

# Plotly para gráficos interativos na interface
plotly==5.11.0

# Matplotlib para gráficos adicionais
matplotlib==3.5.2

# Requests para requisições HTTP
requests==2.31.0

# Setuptools para garantir a presença do distutils
setuptools==65.5.1


# Use o seguinte comando
# pip install -r requirements.txt


# Comentários:
# Certifique-se de instalar estas dependências com o comando: pip install -r requirements.txt
# As versões são as testadas e garantidas para funcionamento pleno do projeto.
