# Requisitos do Projeto EcoDrive Insight AI

# Streamlit para a interface da aplicação
streamlit==1.25.0

# Bibliotecas para manipulação de dados
numpy==1.26.0
pandas==2.1.1

# Scikit-learn para modelagem e joblib para salvar modelos
scikit-learn==1.3.0
joblib==1.3.2

# Plotly para gráficos interativos na interface
plotly==5.17.0

# Matplotlib para visualização dos dados
matplotlib==3.8.0

# Pillow para suporte a imagens (versão compatível)
pillow==9.5.0

# Requests para requisições HTTP
requests==2.31.0
